@import '~src/variables';

.conversation-form {
  .message-input {
    border: none;
    outline: none;
    box-shadow: none;
  }
  .actions {
    float: right;
    padding-right: 8px;
    > * {
      margin-left: 0.5em;
      color: $grey-color;
      opacity: 0.5;
      font-size: large;
      cursor: pointer;
      &:hover {
        opacity: 1;
      }
    }
    .send-message-button {
      color: $primary-color;
    }
  }
}
