@import "~src/variables";

.category-filters {
  > *:not(:first-child) {
    margin-top: 0.7em;
  }

  .categories-list {
    > * {
      display: block;
      margin: 1em 0;
    }
  }
}

.tag-filters {
  .tags {
    .ant-tag {
      cursor: pointer;
      margin-bottom: 8px;
    }

    .tags-search-input {
      margin: 10px 0;
    }
    .ant-tag-checkable {
      opacity: .7;
      &:hover {
        opacity: 1;
      }
    }
    .ant-tag-checkable-checked {
      opacity: 1;
    }
  }
}
