@import '~src/variables';

.footer {
  * {
    color: $grey-color;
  }
  a {
    display: inline-block;
    margin: 0 5px;
    opacity: .7;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }
}
