@import "~src/variables";

.label-value-row {
  p,
  a {
    color: $main-text-color;
    margin-bottom: 0.5em;
  }
  a:hover {
    color: $primary-color;
  }
  .label {
  }
  .value {
    font-weight: bold;
  }
}
