<nz-list [nzDataSource]="paginatedServices?.results || []" [nzItemLayout]="'horizontal'" [nzLoading]="loading"
  [nzRenderItem]="serviceItemTemplate" [nzFooter]="footer">
  <ng-template #serviceItemTemplate let-serviceitem>
    <app-services-list-item modelName="services" [item]="serviceitem"></app-services-list-item>
  </ng-template>
</nz-list>

<ng-template #footer>
  <nz-row style="text-align: center;" *ngIf="paginatedServices && paginatedServices.results.length > 0">
    <a (click)="navigateToAllSimilarServices()" i18n-nzTitle="@@seeAllSimilarServicesButtonText">See all similar
      services</a>
  </nz-row>
</ng-template>
