<nz-card [nzTitle]="title" [nzExtra]="extra">
  <div class="category-filters">
    <nz-divider nzText="Category" nzOrientation="left"></nz-divider>
    <div class="categories-list">
      <nz-select style="width: 100%;" nzMode="default" [ngModel]="selectedCategoryString" nzPlaceHolder="Избери категория"
        nzAllowClear nzShowSearch (ngModelChange)="onCategotyChange($event)" [nzServerSearch]="true"
        (nzOnSearch)="onSearchCategories($event)" (nzScrollToBottom)="loadMoreCategories()">
        <ng-container *ngFor="let category of categories?.results; trackBy:trackIdentifyByItemId">
          <nz-option *ngIf="!isLoading" [nzValue]="category.name" [nzLabel]="category.name"></nz-option>
        </ng-container>
        <nz-option *ngIf="isLoadingCategories" nzDisabled nzCustomContent>
          <i nz-icon type="loading" class="loading-icon"></i> Loading Data...
        </nz-option>
      </nz-select>
    </div>
  </div>
  <div class="tag-filters">
    <nz-divider nzText="Tags" nzOrientation="left"></nz-divider>
    <div class="tags">
      <div class="selected-tags">
        <nz-tag [nzColor]="tag.color" *ngFor="let tag of selectedTags; trackBy:trackIdentifyByItemId"
          (nzCheckedChange)="clickedTag(tag.name)" [nzChecked]="true" nzMode="checkable">
          {{tag.name}}</nz-tag>
        <nz-tag *ngIf="!selectedTags || selectedTags.length === 0">no selected tags</nz-tag>
      </div>

      <input class="tags-search-input" (input)="searchTags($event.target.value)" nz-input placeholder="Search tags"
        nzSize="small" />
      <div class="loaded-tags">
        <nz-tag [nzColor]="selectedTagStrings?.includes(tag.name) ? tag.color : 'geekblue'"
          *ngFor="let tag of tags?.results;" (nzCheckedChange)="clickedTag(tag.name)"
          [nzChecked]="selectedTagStrings?.includes(tag.name)" nzMode="checkable">
          {{tag.name}}</nz-tag>
        <nz-tag *ngIf="tags?.next" (click)="loadMoreTags()" nzColor="purple">load more</nz-tag>
      </div>
    </div>

  </div>
</nz-card>

<ng-template #title>
  <h3 style="margin: 0;" class="title">Filters</h3>
</ng-template>
<ng-template #extra>
  <a (click)="openDetailedFilters()">More filters</a>
</ng-template>
<nz-drawer [nzClosable]="true" [nzVisible]="visibleFilterDetails" nzPlacement="right" nzTitle="Detailed filters"
  (nzOnClose)="closeDetailedFilters()" [nzWidth]="'40%'">
  <p>Some contents...</p>
  <p>Some contents...</p>
  <p>Some contents...</p>
</nz-drawer>
