<nz-card [nzTitle]="title" [nzExtra]="extra">
  <div class="category-filters">
    <nz-divider nzText="Category" nzOrientation="left"></nz-divider>
    <p nz-checkbox [(ngModel)]="checked">IT</p><br />
    <p nz-checkbox [(ngModel)]="checked">Law</p><br />
    <p nz-checkbox [(ngModel)]="checked">Programming</p><br />
    <p nz-checkbox [(ngModel)]="checked">Cleaning</p>
  </div>
  <div class="tag-filters">
    <nz-divider nzText="Tags" nzOrientation="left"></nz-divider>
    <div class="tags">

      <nz-tag [nzColor]="tag.color" *ngFor="let tag of selectedTags"
        (nzCheckedChange)="clickedTag(tag.name)" [nzChecked]="true" nzMode="checkable">
        {{tag.name}}</nz-tag>

      <input class="tags-search-input" (input)="searchTags($event.target.value)" nz-input placeholder="Search tags"
        nzSize="small" />

      <nz-tag [nzColor]="selectedTagStrings?.includes(tag.name) ? tag.color : 'geekblue'"
        *ngFor="let tag of tags?.results;" (nzCheckedChange)="clickedTag(tag.name)"
        [nzChecked]="selectedTagStrings?.includes(tag.name)" nzMode="checkable">
        {{tag.name}}</nz-tag>
      <nz-tag *ngIf="tags?.next" (click)="loadMoreFilters()" nzColor="purple">load more</nz-tag>
    </div>

  </div>
</nz-card>

<ng-template #title>
  <h3 style="margin: 0;" class="title">Filters</h3>
</ng-template>
<ng-template #extra>
  <a (click)="openDetailedFilters()">More filters</a>
</ng-template>
<nz-drawer [nzClosable]="true" [nzVisible]="visibleFilterDetails" nzPlacement="right" nzTitle="Detailed filters"
  (nzOnClose)="closeDetailedFilters()" [nzWidth]="'40%'">
  <p>Some contents...</p>
  <p>Some contents...</p>
  <p>Some contents...</p>
</nz-drawer>
