<div (keydown.esc)="zoom(false)" (keydown.f)="zoom(true)" *ngIf="images && images.length > 0 else warning">

  <div class="carousel-container zoomView" *ngIf="zoomView">
    <button (click)="zoom(false)" class="close-btn" nz-button nzShape="circle"><i nz-icon type="close"></i></button>
    <ng-container *ngTemplateOutlet="carouselContent"></ng-container>
  </div>

  <div class="carousel-container">
    <ng-container *ngTemplateOutlet="carouselContent"></ng-container>
    <button (click)="zoom(true)" class="zoom-btn" nz-button nzShape="circle"><i nz-icon type="fullscreen"></i></button>
  </div>

</div>

<ng-template #warning>
  <nz-alert nzType="warning" nzMessage="No images to show"></nz-alert>
</ng-template>

<ng-template #carouselContent>
  <nz-carousel nzAutoPlay #carousel class="carousel">
    <div nz-carousel-content *ngFor="let image of images">
      <div class="image" [ngStyle]="{'background-image': 'url(' + image.image + ')'}" nz-row nzType="flex"
        nzJustify="center" nzAlign="middle">
      </div>
    </div>
  </nz-carousel>
  <div class="carousel-images-list">
    <div nz-row nzType="flex" nzGutter="16">
      <div class="image-list-item" nz-col *ngFor="let image of images; let index=index;" (click)="carousel.goTo(index)"
        nz-tooltip nzTitle="Премини към изображение">
        <nz-avatar [nzSize]="50" nzShape="square" [nzSrc]="image.image">
        </nz-avatar>
      </div>
    </div>
  </div>

</ng-template>
