<form nz-form *ngIf="!success else successTemplate">
  <nz-form-item>
    <nz-form-label nzFor="title" i18n="@@couponCodeLabel">Coupon code</nz-form-label>
    <nz-form-control [nzSm]="24" [nzXs]="24" nzHasFeedback>
      <input type="text" nz-input #couponCodeInput i18n-placeholder="@@couponCodeLabel" placeholder="Coupon code" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item class="btns">
    <button class="pay-button" nz-button nzType="primary" (click)="useCoupon(couponCodeInput.value)"
      [nzLoading]="loading">
      <span i18n="Use coupon button text@@useCouponButtonText">Use coupon</span>
    </button>
    <a [routerLink]="[]" [queryParams]="{coupon: null}" class="pay-button" nz-button nzType="default">
      <span i18n="@@cancelText">Cancel</span>
    </a>
  </nz-form-item>
</form>

<ng-template #successTemplate>
  <div style="text-align: center">
    <i nz-icon [nzType]="'check-circle'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#52c41a'"
      style="font-size: 24px; margin-right: 5px;"></i>
    <br />
    <span i18n="Card title for successfully boosted seek@@promoteSeekUsingCouponSuccessText">
      Successfully Boosted Seek</span> #{{seek_id}}
    <br />
    <span i18n="@@promotedTilText">
      Boosting works until</span> {{promoted_til | date: 'hh:mm a MMMM d yyyy'}}
    <br />
    <a [routerLink]="['/', 'seeks', seek_id]"><ng-container i18n="Open promoted seek after boosting using coupon@@openSeekText">Open seek #</ng-container>{{seek_id}}</a>
  </div>
</ng-template>
