@import "~src/variables";

.carousel-container {
  position: relative;
  .zoom-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    color: $contrast-color;
    border-color: $contrast-color;
    opacity: .4;
    background: transparent;
    &:hover {
      opacity: 1;
    }
  }

  [nz-carousel-content] {
    text-align: center;
    height: 360px;
    background: rgba(0, 0, 0, .1);
    color: $white-color;
    .image {
      height: 100%;
      background-size: contain; // TODO: use cover?
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  .carousel-images-list {
    padding: 16px;
    .image-list-item {
      cursor: pointer;
      margin-bottom: 3px;
      opacity: .4;
      &.active, &:hover {
        opacity: 1;
      }
    }
  }

  &.zoomView {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    // height: 100%;
    z-index: 10;

    background: rgba(0, 0, 0, 0.7);
    padding: 5%;
    // padding-top: 20%;

    [nz-carousel-content] {
      height: 80vh;
      background: transparent;
    }
    .close-btn {
      z-index: 11;
      position: fixed;
      top: 3vh;
      left: 3vh;
      width: 5vh;
      height: 5vh;
      font-size: large;
    }
  }
}
