<h2 class="title" i18n="@@termsText">Terms</h2>
<section id="terms">
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio, unde voluptates, tenetur deserunt quidem voluptatem
    quos ex, omnis atque quod sequi repellat ducimus. Eius, doloribus veritatis quidem voluptatem enim commodi.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa eveniet aut accusamus impedit quas suscipit possimus
    consequuntur cupiditate expedita itaque. Quidem reiciendis aspernatur cum, dicta distinctio culpa repellendus earum
    corrupti!
  </p>
  <nz-divider></nz-divider>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit voluptatem vero quidem in dolorem earum deserunt
    quae soluta iste, provident sunt voluptates atque dolor porro repellendus ipsa nam vitae eaque!
  </p>
</section>

<nz-divider nzText="Privacy and cookies" i18n-nzText="@@privacyAndCookiesText"></nz-divider>

<section id="privacy">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium veniam corrupti sit asperiores non quis
    eaque
    dolor rem eius nisi officiis incidunt quibusdam natus, hic quasi esse labore tenetur illo!
  </p>
</section>
