<!-- <ng-container >
  <button *ngIf="!isLoggedIn" (click)="signIn()">Sign In With Google</button>
  <button *ngIf="isLoggedIn" (click)="signOut()">Sign Out</button>
</ng-container>
<h2 *ngIf="authIsLoaded && isLoggedIn"> Signed in as {{user.name}} </h2> -->
<nz-spin [nzSpinning]="authService.loading">
  <nz-row class="social-links" nzGutter="8" *ngIf="authIsLoaded">
    <nz-col>
      <a (click)="onGoogleButtonClick()">
        <nz-avatar nzIcon="google" nzSize="large"
          style="background-color:white; color: #4285f4;border: 1px solid #4285f4"></nz-avatar>
      </a>
    </nz-col>
    <nz-col>
      <a (click)="onFacebookButtonClick()">
        <nz-avatar nzIcon="ng-vlicon:facebook" nzSize="large" style="background-color:white;border: 1px solid #4267B2;">
        </nz-avatar>
      </a>
    </nz-col>
  </nz-row>
</nz-spin>
