<div nz-row class="services-row" nzGutter="16">
  <div nz-col nzXs="24" nzXl="18">
    <app-search-card></app-search-card>
    <!-- mobile -->
    <div *ngIf="tds.isMobile" nz-row nzGutter="16">
      <div nz-col nzSpan="12">
        <ng-container *ngTemplateOutlet="addBtn"></ng-container>
      </div>
      <div nz-col nzSpan="12">
        <nz-card class="large-card-button padding-12" style="background: grey; text-align: center;"
          (click)="setIsFiltersDrawerVisible(true)">
          <h2 style="margin: 0;"><i nz-icon nzType="filter"></i><span i18n="@@filtersButtonText">Filters</span></h2>
        </nz-card>
      </div>
    </div>
    <!-- // mobile -->
    <app-promoted-services-list></app-promoted-services-list>
    <h3 i18n="@@newServicesCardTitle">New services</h3>
    <nz-card>
      <ng-container *ngTemplateOutlet="list"></ng-container>
    </nz-card>
  </div>
  <!-- desktop only -->
  <div *ngIf="!tds.isMobile" nz-col nzXs="24" nzXl="6">
    <ng-container *ngTemplateOutlet="addBtn"></ng-container>
    <nz-card i18n-nzTitle="@@filtersCardTitle" nzTitle="Filters" class="padding-top-0">
      <app-list-filters></app-list-filters>
    </nz-card>
  </div>
</div>

<ng-template #addBtn>
  <a [routerLink]="['/services', 'create']">
    <nz-card class="large-card-button padding-12" style="text-align: center;">
      <h2 style="margin: 0;"><i nz-icon nzType="plus"></i><span i18n="@@createNewServiceButtonTexst">Create</span></h2>
    </nz-card>
  </a>
</ng-template>


<ng-template #list>
  <nz-list [nzDataSource]="paginatedServices ? paginatedServices.results ? paginatedServices.results : [] : []"
    [nzItemLayout]="'horizontal'" [nzRenderItem]="serviceItemTemplate" [nzPagination]="pagination">
    <ng-template #pagination>
      <nz-pagination [nzPageIndex]="page" [nzPageSize]="pageSize" [nzTotal]="paginatedServices?.count"
        (nzPageIndexChange)="loadData($event)"></nz-pagination>
    </ng-template>
  </nz-list>
</ng-template>


<ng-template #serviceItemTemplate let-service>
  <app-list-item [item]="service" modelName="services"></app-list-item>
</ng-template>

<nz-drawer [nzClosable]="true" [nzVisible]="isFiltersDrawerVisible" nzPlacement="right"
  i18n-nzTitle="@@filtersCardTitle" nzTitle="Filters" (nzOnClose)="setIsFiltersDrawerVisible(false)" nzWidth="85%">
  <app-list-filters></app-list-filters>
</nz-drawer>
