@import "~src/variables";

nz-page-header {
  border: 1px solid $light-border-color;
}

.services-search-wrapper {
  input, button {
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    height: 43px;
    border: none;
    border-radius: 0px;
    background: $light-grey-color;
    color: $dark-grey-color;
    font-size: 15px;
  }
}
.service-list-item {
  align-items: flex-start;

  .service-list-item-price {
    color: $primary-color;
    font-weight: bold;
    opacity: 0.8;
    &:hover {
      cursor: default;
    }
  }
}
