<div nz-row nzGutter="16">
  <div nz-col nzSpan="18">
    <app-search-card></app-search-card>
    <nz-card>
      <ng-container *ngTemplateOutlet="list"></ng-container>

    </nz-card>
  </div>
  <div nz-col nzSpan="6">

    <nz-card class="large-card-button padding-12" style="text-align: center;">
      <h2 style="margin: 0;"><i nz-icon nzType="plus"></i>Добави</h2>
    </nz-card>
    <app-filters-card></app-filters-card>
  </div>
</div>

<!-- <div *ngIf="listOnly">
  <ng-container *ngTemplateOutlet="list"></ng-container>
</div> -->

<ng-template #list>
  <nz-list [nzDataSource]="paginatedServices ? paginatedServices.results ? paginatedServices.results : [] : []"
    [nzItemLayout]="'horizontal'" [nzRenderItem]="serviceItemTemplate" [nzPagination]="pagination">
    <ng-template #pagination>
      <nz-pagination [nzPageIndex]="page" [nzPageSize]="pageSize" [nzTotal]="paginatedServices?.count"
        (nzPageIndexChange)="loadData($event)"></nz-pagination>
    </ng-template>
  </nz-list>
</ng-template>


<ng-template #serviceItemTemplate let-service>
  <app-list-item [item]="service" modelName="services"></app-list-item>
</ng-template>
