<nz-row nzType="flex" nzJustify="space-around" nzAlign="middle">
  <nz-col class="login-container" nzSpan="12">

    <nz-spin [nzSpinning]="loading || authService.loading">
      <nz-row class="login-header" nzType="flex" nzJustify="center">
        <nz-col>
          <h1><ng-container i18n>Log into</ng-container> <b>getMaker</b></h1>
          <p><span i18n>Or</span>{{' '}}
            <a [routerLink]="['/auth/register']" i18n>Create Account</a>
          </p>
        </nz-col>
      </nz-row>
      <form *ngIf="!authService.isLoggedIn" nz-form [formGroup]="validateForm" class="login-form"
        (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-control nzHasFeedback [nzErrorTip]="emailErrorTemplate">
            <nz-input-group [nzPrefix]="prefixEmail">
              <input nz-input formControlName="email" placeholder="Email" type="email" />
            </nz-input-group>
            <ng-template #emailErrorTemplate let-control>
              <ng-container *ngIf="control.hasError('email')" i18n>The input is not valid E-mail!</ng-container>
              <ng-container *ngIf="control.hasError('required')" i18n>Please input your E-mail!</ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control nzHasFeedback [nzErrorTip]="passwordErrorTemplate">
            <nz-input-group [nzPrefix]="prefixLock">
              <input type="password" nz-input formControlName="password" placeholder="Password" />
            </nz-input-group>
            <ng-template #passwordErrorTemplate let-control>
              <ng-container *ngIf="control.hasError('minlength')" i18n>Use at least 5 characters for password</ng-container>
              <ng-container *ngIf="control.hasError('required')" i18n>Please input your password!</ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <ng-container *ngIf="validateForm.get('other')?.hasError('invalid_grant')">
          <span class="error-text">
            {{ validateForm.get('other').getError('invalid_grant') }}
          </span>
        </ng-container>

        <nz-form-item>
          <nz-form-control>
            <button nz-button class="login-form-button" [nzType]="'primary'" [disabled]="validateForm.invalid" i18n>Login</button>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item class="login-form-social-section">
          <p i18n>or continue with</p>
          <app-social-auth-buttons></app-social-auth-buttons>
        </nz-form-item>
        <nz-form-item class="login-form-forgot-section">
          <a i18n>Forgot password?</a>
        </nz-form-item>
        <nz-divider nzDashed></nz-divider>
        <nz-form-item class="login-form-info">
          <p i18n>Secured login TODO</p>
          <a i18n>Terms</a> & <a i18n>Privacy</a>
        </nz-form-item>
      </form>
      <ng-template #prefixEmail><i nz-icon nzType="mail"></i></ng-template>
      <ng-template #prefixLock><i nz-icon nzType="lock"></i></ng-template>
    </nz-spin>
  </nz-col>
</nz-row>
