@import "~src/variables";

.seek-container {
  .share-btns {
    button {
      background: rgba(255, 255, 255, 0.5);
      opacity: 0.7;
      &:hover {
        overflow: 1;
        background: rgba(255, 255, 255, 1);
        color: $main-text-color;
      }
    }
    button + button {
      margin-left: 1em;
    }
  }
}

.mobile-contact {
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 55px;
  text-align: center;
  > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    &.msg-col,
    &.promo-col {
      background: $contrast-color;
    }
    &.phone-col,
    &.edit-col {
      background: $primary-color;
    }
    i {
      margin-right: 5px;
    }
  }
}

.promoted {
  position: relative;
}
.promoted-sign {
  position: absolute;
  bottom: 16px;
  right: 16px;
  z-index: 3;
  color: $yellow-color;
  background: $white-color;
  border-radius: 50%;
}

@include respond-below(mobile) {
}

.phone-wrapper {
  ::ng-deep a {
    color: $white-color;
  }
}
