@import "~src/variables";

.wrapper {
  padding: 0 8px;
  height: 85%;
  .header {
    padding: 4px 8px;
    border-bottom: 1px solid $light-border-color;
    // height: 10%;
  }

  .conversation-wrapper {
    padding: 0 8px;
    height: 100%;

    // > .conversation {
      // height: 90%;
      display: flex;
      flex-direction: column;
      justify-content: stretch;
      justify-items: stretch;
      .conversation-messages {
        overflow-x: hidden;
        flex: auto;
        overflow-y: scroll;

        &::-webkit-scrollbar-track {
          border-radius: $radius;
          background-color: $light-grey-color;
        }

        &::-webkit-scrollbar {
          // position: fixed;
          width: 7px;
        }

        &::-webkit-scrollbar-thumb {
          border-radius: $radius;
          background-color: $grey-color;
        }
      }
      .conversation-input {
        // height: 10%;
        flex: none;
        // height: auto;
        border-top: 1px solid $light-border-color;
      }
    // }
  }
}

// message
.message {
  margin: 3px 0;
  &:hover {
    & > .deleteButton {
      display: block;
    }
  }

  .deleteButton {
    display: none;
    align-self: center;
    margin-right: 8px;
    cursor: pointer;
  }
  .message-author {
    margin: 0 5px;
    min-width: 32px;
    cursor: pointer;
  }
  .message-content {
    // margin: 8px;
    padding: 6px 12px;
    border-radius: 12px;
    background: $light-grey-color;
    max-width: 60%;
  }
  .image-list-item {
    opacity: 0.9;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }

  .message-text {
    word-wrap: break-word;
  }
  &.right {
    flex-direction: row-reverse;
  }

  & + &.same-author {
    margin-top: 0;
    margin-bottom: 10px;
  }
}
