<div class="wrapper" *ngIf="conversation else notfoundtemplate">
  <div nz-row class="header">
    <nz-list-item>
      <nz-list-item-meta [nzTitle]="titleTemplate" [nzAvatar]="avatarTemplate" [nzDescription]="descriptionTemplate">
        <ng-template #titleTemplate>
          <a class="title">{{conversation.title}}</a>
        </ng-template>
        <ng-template #avatarTemplate>
          <nz-avatar [nzSize]="48" nzIcon="user" [nzSrc]="partner?.image"></nz-avatar>
        </ng-template>
        <ng-template #descriptionTemplate>
          <span>with {{partner?.first_name || "noname"}}</span>
        </ng-template>
      </nz-list-item-meta>
    </nz-list-item>
  </div>

  <!-- msgs -->
  <div nz-row class="conversation-wrapper">
    <div nz-col class="conversation" nzSpan="24">
      <div nz-row class="conversation-messages" #conversationMessages>
        <div nz-col>
          <div *ngIf="!messages || !messages.next" nz-row style="text-align: center;">
            <small>conversation start</small>
          </div>

          <div *ngIf="messages && messages.next" (click)="loadMore()" nz-row style="text-align: center;">
            <small><a>Зареди повече</a></small>
          </div>
          <div *ngFor="let msg of messages?.results; trackBy: trackIdentifyByItemId; let i = index"
            [class.right]="msg.is_my_message" class="message" [class.same-author]="isLastAuthorMessage(i)" nz-row
            nzType="flex" nzJustify="start" nzAlign="bottom">
            <div nz-col class="message-author">
              <!-- TODO: routerlink -->
              <nz-avatar *ngIf="isLastAuthorMessage(i)" [nzSize]="32" nzIcon="user"
                [nzSrc]="msg.is_my_message ? userService.currentUser.image : msg.author.image"></nz-avatar>
            </div>
            <div nz-col class="message-content">
              <span class="message-text">{{msg.text}}</span>
              <!-- images TODO -->
              <div class="message-images-list">
                <div nz-row nzType="flex" nzGutter="16">
                  <div class="image-list-item" nz-col *ngFor="let image of msg.images; let index=index;" nz-tooltip
                    nzTitle="Премини към изображение">
                    <nz-avatar [nzSize]="50" nzShape="square" [nzSrc]="image.image">
                    </nz-avatar>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div nz-row class="conversation-input" nzType="flex" nzJustify="space-between" nzAlign="middle">
        <div nz-col nzSpan="20">
          <input class="message-input" #messageInput nz-input placeholder="Type new message" type="text">
        </div>
        <div nz-col nzSpan="4">
          <div class="actions">
            <i nz-icon type="paper-clip"></i>
            <i nz-icon type="picture"></i>
            <i nz-icon type="message" class="send-message-button" (click)="sendMsg(messageInput.value)"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #notfoundtemplate>
  <div nz-row nzJustify="center" nzType="flex">
    <h2>Conversation not found</h2>
    <app-page-not-found></app-page-not-found>
  </div>
</ng-template>
