@import "~src/variables";

.app-header.ant-layout-header {
  padding: 0;
  overflow: hidden;
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;

  .ant-menu-item {
    opacity: 0.5;
    border-bottom-width: 5px;
    text-align: center;
    &:hover {
      opacity: 1;
    }
    a,
    i {
      font-size: large;
    }
  }
  .ant-menu-item-selected {
    opacity: 0.9;
    background: $back-color;
  }

  .ant-menu-horizontal > .ant-menu-submenu {
    border-bottom-width: 5px;
  }
}

.header-menu {
  border: none;
  line-height: 59px;
}

.header-menu-left li {
  width: 50%;
}

.header-menu-right li {
  width: 100%;
}

.login-menu-item,
.user-menu-item {
  float: right;
}

.user-logo {
  margin-right: 5px;
}

@include respond-below(mobile) {
  .login-menu-item,
  .user-menu-item {
    // width: 100%;
    float: initial;
  }
  // .user-logo {
  //   margin-left: -10px;
  // }

  .hello-text {
    display: none;
  }

  .user-title-container {
    > * {
      display: block;
      line-height: normal;
    }

  }
}
