.app-header.ant-layout-header {
  padding: 0;
  box-shadow: 0 2px 5px #f0f1f2;
  position: relative;
  z-index: 10;
}

.header-menu {
  border: none;
  line-height: 62px;

  .search-box {
    border-left: 1px solid #ebedf0;
    float: left;
    height: 22px;
    line-height: 22px;
    padding-left: 16px;
    margin: 22px auto 0;
    input {
      font-size: 14px;
      margin-top: -5px;
      width: 200px;
      border: 0;
      box-shadow: none;
      background: 0 0;
    }
  }
}

.logo-col {
  padding-left: 24px;

  .logo {
    width: 120px;
    height: 64px;
    line-height: 64px;
    text-align: center;
    font-weight: bold;
    color: #523943;
    margin: auto;
    float: left;
  }
}
