@import "~src/variables";

.app-header.ant-layout-header {
  padding: 0;
  overflow: hidden;
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;

  .ant-menu-item {
    a,
    i {
      font-size: large;
    }
    opacity: 0.5;
    border-bottom-width: 5px;
    &:hover {
      opacity: 1;
    }
    &.add-menu-item {
      // &:hover {
      //   border-bottom-color: $contrast-color;
      // }
    }
  }
  .ant-menu-item-selected {
    opacity: 0.9;
    background: $back-color;
  }

  .ant-menu-horizontal > .ant-menu-submenu {
    border-bottom-width: 5px;
  }
}

.header-menu {
  border: none;
  line-height: 59px;
}

.header-menu-left li {
  width: 50%;
}

.header-menu-right li {
  width: 40%;
  &:first-child {
    width: 60%;
  }
}
