@import "~src/variables";

.service-container {

  .service-stats {
    padding: 0 3px;
    margin-bottom: $vertical-margin;
  }

  .votes {
    position: absolute;
    top: 5px;
    right: 5px;
  }
}


.large-card-button {
  background: $contrast-color;
  opacity: .8;
  margin: 0;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
  i {
    margin-right: .5em;
  }
  * {
    font-weight: bold;
    color: $white-color;
  }
}
