<div nz-row nzGutter="16" *ngIf="service" class="service-container">
  <!-- left column -->
  <div nz-col class="gutter-row" nzXs="24" nzXl="18">
    <nz-card class="padding-0" [class.promoted]="service.is_promoted">
      <app-carousel [focusOnInit]="true" [images]="service?.images"></app-carousel>
      <i *ngIf="service.is_promoted" class="promoted-sign" style="font-size: 30px;" nz-icon [nzType]="'dollar'"
        [nzTheme]="'twotone'" [nzTwotoneColor]="'#f9ca24'" nz-tooltip i18n-nzTitle="@@promotedServiceIconTooltipText"
        nzTitle="Promoted service"></i>
    </nz-card>
    <div nz-row style="text-align: center;" *ngIf="tds.isMobile">
      <h1 class="mb-vertical-align title">{{service.title}}</h1>
    </div>
    <div nz-row class="mb-vertical-align" nzType="flex" [nzJustify]="tds.isMobile ? 'center' : 'space-between'"
      nzAlign="middle">
      <div>
        <a [routerLink]="['../']" [queryParams]="{tags: [tag.name]}" queryParamsHandling="merge"
          *ngFor="let tag of service.tags">
          <nz-tag nz-tooltip i18n-nzTitle="Text user sees on tag hover@@searchByTagText" nzTitle="Search by tag"
            [nzColor]="tag.color">{{tag.name}}
          </nz-tag>
        </a>
      </div>
      <nz-tag *ngIf="!service.tags || service.tags.length === 0"
        i18n="Tag text when there are no tags in a list of tags@@noTags">No
        tags
      </nz-tag>
      <app-general-info *ngIf="!tds.isMobile" [id]="service.id" [location]="service.location"
        [created_at]="service.created_at" [category]="service.category"></app-general-info>
    </div>
    <!-- description card -->
    <nz-card>
      <div nz-row nzType="flex" nzGutter="16" nzJustify="space-between" nzAlign="top">
        <div nz-col nzSm="23" nzXs="22">
          <h1 *ngIf="!tds.isMobile" class="title">{{service.title}}</h1>
          <div class="service-description">
            {{service.description}}
          </div>
        </div>
        <div nz-col nzSm="1" nzXs="2">
          <app-votes [score]="service.score" type="vertical" [currentUserVote]="service.current_user_vote"
            [model]="'services'" [modelId]="service.id"></app-votes>
        </div>
      </div>
    </nz-card>
    <div nz-row nzGutter="16" *ngIf="tds.isMobile">
      <app-price-card nz-col nzSpan="12" [small]="true" [price]="service.price" [currency]="service.price_currency"
        [price_details]="service.price_details">
      </app-price-card>
      <div nz-col nzSpan="12">
        <ng-container *ngTemplateOutlet="promoButton"></ng-container>
      </div>
    </div>
    <div class="mb-vertical-align">
      <app-general-info *ngIf="tds.isMobile" justify="center" [id]="service.id" [location]="service.location"
        [created_at]="service.created_at" [category]="service.category"></app-general-info>
    </div>
    <!-- share card -->
    <div class="mb-vertical-align" nz-row nzType="flex" [nzJustify]="tds.isMobile ? 'center' : 'start'"
      nzAlign="middle">
      <app-share-widget></app-share-widget>
    </div>
    <app-author-card *ngIf="tds.isMobile" [itemTitle]="service.title" [author]="service.author"
      [override_phone]="service.contact_phone" [horizontal]="true">
    </app-author-card>
    <!-- more services card -->
    <nz-card [nzTitle]="similarCardTitleTemplate">
      <app-similar-services-list [service]="service"></app-similar-services-list>
    </nz-card>
    <ng-template #similarCardTitleTemplate>
      <h2 class="title small" i18n="@@similarServicesCardTitle">Similar services</h2>
    </ng-template>
    <!-- Mobile only footer -->
    <nz-divider *ngIf="tds.isMobile" class="margin-10"></nz-divider>
    <app-footer *ngIf="tds.isMobile"></app-footer>
    <!-- // mobile -->
  </div>
  <!-- right column -->
  <div nz-col class="gutter-row" *ngIf="!tds.isMobile" nzSpan="6">
    <app-price-card [price]="service.price" [currency]="service.price_currency" [price_details]="service.price_details">
    </app-price-card>
    <ng-container *ngTemplateOutlet="promoButton"></ng-container>
    <nz-divider class="margin-20"></nz-divider>
    <app-author-card [itemTitle]="service.title" [author]="service.author" [override_phone]="service.contact_phone">
    </app-author-card>
    <nz-divider class="margin-10"></nz-divider>
    <app-footer></app-footer>
  </div>
</div>

<ng-template #promoButton>
  <a [routerLink]="['./', 'promote']">
    <nz-card class="large-card-button padding-12" style="text-align: center;">
      <h2 style="margin: 0;"><i nz-icon nzType="rise"></i><span i18n="@@promoteButtonText">Promote</span></h2>
    </nz-card>
  </a>
</ng-template>

<!-- mobile contact -->
<div nz-row nzType="flex" nzJustify="stretch" nzAlign="stretch" class="mobile-contact" *ngIf="tds.isMobile">
  <a [href]="'tel:' + service.contact_phone" *ngIf="(userService.currentUserObs | async)?.id != service.author.id"
    nz-col nzSpan="12" class="msg-col">
    <span><i nz-icon nzType="phone"></i><span i18n="@@callText">Call</span></span>
  </a>
  <a [routerLink]="['/', 'messages', 'user', service.author.id]"
    *ngIf="(userService.currentUserObs | async)?.id != service.author.id" nz-col nzSpan="12" class="phone-col">
    <span><i nz-icon nzType="message"></i><span i18n="@@messageUserText">Message</span></span>
  </a>
  <a [routerLink]="['./', 'promote']" *ngIf="(userService.currentUserObs | async)?.id == service.author.id" nz-col
    nzSpan="24" class="promo-col">
    <span><i nz-icon nzType="rocket"></i><span i18n="@@promoteYourServiceText">Promote your service</span></span>
  </a>
</div>
