<div nz-row nzGutter="16" *ngIf="service" class="service-container">
  <!-- left column -->
  <div nz-col class="gutter-row" nzXs="24" nzXl="18">
    <nz-card class="padding-0">
      <app-carousel [images]="service?.images"></app-carousel>
    </nz-card>
    <div nz-row style="text-align: center;" *ngIf="tds.isMobile">
      <h1 class="mb-vertical-align title">{{service.title}}</h1>
    </div>
    <app-general-info-card [vertical]="tds.isMobile" [id]="service.id" [location]="service.location"
      [created_at]="service.created_at" [tags]="service.tags"></app-general-info-card>

    <!-- description card -->
    <nz-card>
      <div nz-row nzType="flex" nzGutter="16" nzJustify="space-between" nzAlign="top">
        <div nz-col nzSm="23" nzXs="22">
          <h1 *ngIf="!tds.isMobile" class="title">{{service.title}}</h1>
          <div class="service-description">
            {{service.description}}
          </div>
        </div>
        <div nz-col nzSm="1" nzXs="2">
          <app-votes [score]="service.score" type="vertical" [currentUserVote]="service.current_user_vote"
            [model]="'services'" [modelId]="service.id"></app-votes>
        </div>
      </div>
    </nz-card>
    <div nz-row nzGutter="16" *ngIf="tds.isMobile">
      <app-price-card nz-col nzSpan="12" [small]="true" [price]="service.price" [currency]="service.price_currency"
        [price_details]="service.price_details">
      </app-price-card>
      <div nz-col nzSpan="12">
        <ng-container *ngTemplateOutlet="promoButton"></ng-container>
      </div>
    </div>
    <!-- share card -->
    <div class="mb-vertical-align" nz-row nzType="flex" nzJustify="space-between" nzAlign="middle">
      <div class="share-btns">
        <button nz-button><i nz-icon nzType="ng-vlicon:facebook"></i>Споделяне</button>
        <button nz-button><i nz-icon nzType="twitter" style="color: #1da1f2;"></i>Туит</button>
        <button nz-button><i nz-icon nzType="star"></i>Запази</button>
      </div>
      <div>
        some
      </div>
    </div>
    <!-- more services card -->
    <nz-card [nzTitle]="similarCardTitleTemplate">
      <app-similar-services-list [service]="service"></app-similar-services-list>
    </nz-card>
    <ng-template #similarCardTitleTemplate>
      <h2 class="title small">Подобно</h2>
    </ng-template>

  </div>
  <!-- right column -->
  <div nz-col class="gutter-row" *ngIf="!tds.isMobile" nzSpan="6">
    <app-price-card [price]="service.price" [currency]="service.price_currency" [price_details]="service.price_details">
    </app-price-card>
    <ng-container *ngTemplateOutlet="promoButton"></ng-container>
    <nz-divider class="margin-20"></nz-divider>
    <app-author-card [itemTitle]="service.title" [author]="service.author" [override_phone]="service.contact_phone"></app-author-card>
  </div>
</div>

<ng-template #promoButton>
  <nz-card class="large-card-button padding-12" style="text-align: center;">
    <h2 style="margin: 0;"><i nz-icon nzType="rise"></i>Промотирай</h2>
  </nz-card>
</ng-template>

<!-- mobile contact -->
<div nz-row nzType="flex" nzJustify="stretch" nzAlign="stretch" class="mobile-contact" *ngIf="tds.isMobile">
  <div nz-col nzSpan="12" class="msg-col">
    <a [href]="'tel:' + service.contact_phone"><i nz-icon nzType="phone"></i>Обади се</a>
  </div>
  <div nz-col nzSpan="12" class="phone-col">
    <a [routerLink]="['/', 'messages', 'user', service.author.id]"><i nz-icon nzType="message"></i>Съобщение</a>
  </div>
</div>
