<nz-drawer *ngIf="userService.currentUser" [nzWidth]="tds.isMobile ? '85%' : '33%'" [nzClosable]="true"
  [nzVisible]="visible" nzPlacement="right" [nzTitle]="null" (nzOnClose)="onClose()">
  <div nz-row style="text-align: center; margin-bottom: 10px;" nzJustify="center">
    <nz-badge [nzCount]="rns.count">
      <nz-avatar [nzSize]="128" nzIcon="user"
        [nzSrc]="(userService.currentUserObs | async)?.image || 'assets/images/undraw_user.svg'"></nz-avatar>
    </nz-badge>
  </div>
  <div nz-row style="text-align: center;">
    <h2 class="title">{{(userService.currentUserObs | async)?.first_name}}
      {{(userService.currentUserObs | async)?.last_name}}</h2>
  </div>

  <div nz-row style="text-align: center; line-height: 20px; margin-top: 5px;">
    <p *ngIf="(userService.currentUserObs | async)?.is_verified_email">
      <i nz-icon [nzType]="'check-circle'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#52c41a'"
        style="font-size: 20px; margin-right: 5px;"></i>
      <ng-container i18n>Verified</ng-container></p>
    <p *ngIf="!(userService.currentUserObs | async)?.is_verified_email">
      <i nz-icon [nzType]="'close-circle'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#eb2f96'"
        style="font-size: 20px; margin-right: 5px;"></i>
      <ng-container i18n>Not Verified</ng-container></p>
  </div>
  <div *ngIf="userService.currentUser" nz-row nzType="flex" nzJustify="center" class="main-buttons"
    style="width: 100%;">
    <a nz-col nz-button (click)="onClose()" [routerLink]="['/profiles', (userService.currentUserObs | async)?.id]"
      routerLinkActive="ant-menu-item-selected" i18n>Profile</a>
    <a nz-col nz-button (click)="onClose()" [routerLink]="['/messages']"
      routerLinkActive="ant-menu-item-selected" i18n>Messages</a>
    <a nz-col nz-button (click)="logout()" i18n>Logout</a>
  </div>
  <nz-divider class="margin-5" nzOrientation="left" i18n-nzText="@@notificationsManagerNotificationDividerText" nzText="Notifications"></nz-divider>
  <nz-list [nzDataSource]="rns.notificationHistory"
    [nzItemLayout]="'horizontal'" [nzRenderItem]="notificationTemplate" [nzPagination]="pagination" [nzFooter]="footer">


    <ng-template #notificationTemplate let-notification>
      <nz-list-item [nzContent]="null" [nzActions]="[]" [class.new]="!notification.notified"
        (mouseenter)="notify(notification)">
        <ng-template #typeActionTemplate>
        </ng-template>
        <!-- <ng-template #likeAction>
          <span nz-tooltip nzTitle="Posts" [routerLink]="['/profiles', user.id, 'posts']">
            <i nz-icon nzType="align-left" style="margin-right: 8px;"></i>{{user.posts_count}}
          </span>
        </ng-template>
        <ng-template #msgAction><i nz-icon nzType="message" style="margin-right: 8px;"></i> 2</ng-template> -->
        <nz-list-item-meta [nzAvatar]="'assets/images/undraw_user.svg'" [nzTitle]="nzTitle"
          [nzDescription]="descriptionTemplate">
          <ng-template #nzTitle>
            <b><a [routerLink]="[notification.redirect_url]">{{notification.title}} {{notification.id}}</a></b>
            {{notification.text}}
          </ng-template>
          <ng-template #descriptionTemplate>
            {{notification.notification_datetime | date}}
          </ng-template>
        </nz-list-item-meta>
        <ng-template #extra>
          <!-- haha -->
          <!-- <img width="272" alt="logo" src="https://gw.alipayobjects.com/zos/rmsportal/mqaQswcyDLcXyDKnZfES.png" /> -->
        </ng-template>
      </nz-list-item>
    </ng-template>

    <ng-template #footer>
      <!-- <div><b>ant design</b> footer part</div> -->
    </ng-template>
    <ng-template #pagination>
      <nz-pagination [nzPageIndex]="rns.page" [nzPageSize]="rns.pageSize" [nzTotal]="rns.notificationHistory?.length || 1"
        (nzPageIndexChange)="rns.loadData($event)"></nz-pagination>
    </ng-template>
  </nz-list>
</nz-drawer>
