<nz-list-item class="list-item stretch-list-item" [nzContent]="null" [nzActions]="">
  <!-- Actions -->
  <ng-template #priceAction>

  </ng-template>

  <!-- List item meta -->
  <nz-list-item-meta [nzAvatar]="avatar" [nzTitle]="itemTitle" [nzDescription]="description">
    <!-- Templates for list item -->
    <ng-template #avatar>
      <nz-avatar [nzSize]="128" nzShape="square"
        [nzSrc]="item?.images[0] ? item.images[0].image : 'https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png'">
      </nz-avatar>
    </ng-template>

    <ng-template #itemTitle>
      <div nz-row class="col-below-mobile" nzType="flex" nzJustify="space-between" nzAlign="start">
        <h2 nz-col class="title">
          <a class="title" [routerLink]="[modelName ? '/' + modelName : './', item.id]">{{ item.title }}</a>
        </h2>
        <div nz-col class="price hide-below-mobile" nz-tooltip nzTitle="Цена"><i nz-icon type="euro"
            style="margin-right: 8px;"></i>{{item.price + ' ' + item.price_currency}}</div>
      </div>
    </ng-template>

    <ng-template #tags>
      <div class="tags">
        <nz-tag [routerLink]="[]" [queryParams]="{tags: tag.name}" queryParamsHandling="merge"
          *ngFor="let tag of item.tags">
          {{tag.name}}
        </nz-tag>
      </div>
    </ng-template>

    <ng-template #description>
      <div nz-row nzType="flex" nzJustify="space-between" nzAlign="bottom">
        <div nz-col class="description" nzType="flex" nzAlign="space-between" nzJustify="space-between">
          <div class="description-text hide-below-mobile">
            <p>{{item.description | slice:0:80 }}{{item.description.length > 80 ? '...' : ''}}</p>
          </div>
          <ng-container *ngTemplateOutlet="tags"></ng-container>

          <div nz-row nzType="flex" class="bottom-info hide-below-mobile">
            <span nz-col nz-tooltip nzTitle="Населено място">
              <i nz-icon type="home"
                style="margin-right: 8px;"></i>{{item.location && item.location.name ? item.location?.name + ' - ' + item.location?.district?.name : 'Цялата страна'}}</span>
            <nz-divider nzType="vertical"></nz-divider>
            <span nz-col nz-tooltip nzTitle="Добавена">
              <i nz-icon type="clock-circle" style="margin-right: 8px;"></i>{{item.created_at | date}}
            </span>
            <nz-divider nzType="vertical"></nz-divider>
            <span nz-col nz-tooltip nzTitle="Номер на обява">
              <i nz-icon type="ordered-list" style="margin-right: 8px;"></i>{{item.id}}
            </span>
          </div>
        </div>
        <!-- <div nz-col> -->
          <div nz-row nzType="flex" style="float: right; width: 100%;" nzJustify="space-between">
            <app-votes nz-col nzXs="12" nzSm="24" [score]="item.score" [currentUserVote]="item.current_user_vote"
              [model]="modelName" [modelId]="item.id">
            </app-votes>
            <div nz-col nzXs="12" nzSm="0" class="price" nz-tooltip nzTitle="Цена">
              {{item.price + ' ' + item.price_currency}}</div>
          </div>
        <!-- </div> -->
      </div>
    </ng-template>
  </nz-list-item-meta>
</nz-list-item>
