@import "~src/variables";

// TODO
$service-card-border-width: 2px;
$service-cards-gutter: 16px;

.carousel-container {
  $carousel-height: 360px;

  [nz-carousel-content] {
    text-align: center;
    height: $carousel-height;
    // line-height: $carousel-height;
    background: $grey-color;
    color: $white-color;
    // overflow: hidden;
    .image {
      height: 100%;
      background-size: contain; // TODO: use cover?
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  .carousel-images-list {
    padding: 16px;
    .image-list-item {
      cursor: pointer;
    }
  }
}
