@import "~src/variables";

// TODO
$service-card-border-width: 2px;
$service-cards-gutter: 16px;

.carousel-container {
  $carousel-height: 360px;

  [nz-carousel-content] {
    text-align: center;
    height: $carousel-height;
    // line-height: $carousel-height;
    background: $grey-color;
    color: $white-color;
    // overflow: hidden;
    .image {
      height: 100%;
      background-size: contain; // TODO: use cover?
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  .carousel-images-list {
    padding: 16px;
    .image-list-item {
      cursor: pointer;
    }
  }

  &.zoomView {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;

    background: rgba(0, 0, 0, 0.7);
    padding: 5%;
    // padding-top: 20%;

    [nz-carousel-content] {
      height: 80vh;
      background: transparent;
    }
    .close-btn {
      position: fixed;
      top: 3vh;
      left: 3vh;
      width: 5vh;
      height: 5vh;
      font-size: large;
    }
  }
}
