@import "~src/variables";

.service-list-item {
  align-items: flex-start;
  border-bottom: 1px solid $light-border-color !important;
  // &:hover {
  //   background: $dark-back-color;
  // }

  .service-title {
    margin-bottom: 0.3em;
  }

  .service-tags {
    margin-bottom: 1em;
  }
  .service-list-item-description-text {
    font-size: 14px;
  }

  .service-list-item-price {
    color: $primary-color;
    font-weight: bold;
    font-size: large;
    opacity: 0.8;
    &:hover {
      cursor: default;
    }
  }
  .service-list-item-bottom-info {
    // > * {
    //   margin-right:
    // }
  }
}
