<nz-header class="app-header">
  <nz-row>
    <nz-col [nzSpan]="20" [nzPush]="4">
      <ul nz-menu [nzTheme]="'light'" [nzMode]="'horizontal'" class="header-menu">
        <li class="search-box">
          <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
            <input type="text" nz-input placeholder="input search text" />
          </nz-input-group>
          <ng-template #suffixIconButton>
            <i nz-icon nzSearch type="search"></i>
          </ng-template>
        </li>
        <li nz-menu-item style="float: right;" *ngIf="!authService.isLoggedIn else userMenuItem"
          routerLinkActive="ant-menu-item-selected">
          <a routerLink="/login">Login</a>
        </li>
        <ng-template #userMenuItem>
          <li nz-submenu style="float: right;" *ngIf="userService.currentUser">
            <span title><i nz-icon type="user"></i>Hello, {{userService.currentUser.first_name}}</span>
            <ul>
              <li nz-menu-item>Profile</li>
              <li nz-menu-item>Settings</li>
              <li nz-menu-item>Help</li>
              <li nz-menu-item (click)="logout()">Logout</li>
            </ul>
          </li>
        </ng-template>

        <li nz-menu-item style="float: right;" routerLinkActive="ant-menu-item-selected">
          <a routerLink="/businesses">Businessses</a>
        </li>
        <li nz-menu-item style="float: right;" routerLinkActive="ant-menu-item-selected">
          <a routerLink="/profiles">Profiles</a>
        </li>
        <li nz-menu-item style="float: right;" routerLinkActive="ant-menu-item-selected">
          <a routerLink="/employees">Employees</a>
        </li>
        <li nz-menu-item style="float: right;" routerLinkActive="ant-menu-item-selected">
          <a routerLink="/admin">Admin</a>
        </li>
      </ul>
    </nz-col>

    <nz-col [nzSpan]="4" [nzPull]="20" class="logo-col">
      <a routerLink="/" class="logo">
        LOGO
      </a>
    </nz-col>

  </nz-row>
</nz-header>
