.app-layout {
  background: #fff;
  height: 100%;

  .main-wrapper-layout {
    padding: 40px 0 0;
    background: #fff;
  }

  .main-sider {
    border-right: .5px solid #e8e8e8;
  }

  .main-content-layout {
    background: #fff;
  }
}
