<nz-layout class="app-layout">
  <app-header></app-header>
  <nz-layout class="main-wrapper-layout">
    <nz-content class="main-content">
      <div [@routeAnimation]="getAnimationData(routerOutlet)">
        <router-outlet #routerOutlet="outlet"></router-outlet>
      </div>
      <router-outlet name="popup"></router-outlet>
      <a [routerLink]="[{ outlets: { popup: ['compose'] } }]">Contact</a>
    </nz-content>
  </nz-layout>
</nz-layout>
<nz-back-top></nz-back-top>

<div class="global-loading-indicator" *ngIf="loading">
  <div class='loader-line'>
  </div>
</div>

<app-notifications-manager [visible]="rns.showNotificationsManager"></app-notifications-manager>
<app-feedback-widget></app-feedback-widget>


<ng-template #customEmptyTpl let-name>
  <div style="text-align: center;">
    <img style="max-height: 100px;" src="../assets/images/undraw_empty.svg">
    <p i18n="@@noDataText">No data</p>
  </div>
</ng-template>
