@import "~src/variables";

.app-layout {
  // overflow-x: hidden;
  background: $back-color;
  max-width: 95%;
  margin: 0 auto;
  min-height: calc(100% - 45px);

  .main-wrapper-layout {
    overflow-x: hidden;
    padding: $vertical-margin 0 0;
    background: $back-color;

    .main-content {
      // overflow-x: hidden;
      min-height: 280px;
    }
  }
}

@include respond-below(xs) {
  .app-layout {
    max-width: 98%;
    .main-wrapper-layout {
      padding-top: 12px;
    }
  }
}

@include respond-above(x1300) {
  .app-layout {
    max-width: 1300px;
  }
}


.global-loading-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  overflow: hidden;
}

.loader-line {
  position: fixed;
  width: 100%;
  height: 3px;
  background: lighten($contrast-color, 20%);
  animation: loading-bar 3s linear;
}

@keyframes loading-bar {
  0% {
    width: 0%;
  }

  100% {
    width: 90%;
  }
}

* {
  outline: none;
}
