@import "~src/variables";

.app-layout {
  // overflow-x: hidden;
  background: $back-color;
  max-width: 95%;
  margin: 0 auto;
  min-height: calc(100% - 45px);

  .main-wrapper-layout {
    overflow-x: hidden;
    padding: $vertical-margin 0 0;
    background: $back-color;

    .main-content {
      // overflow-x: hidden;
      min-height: 280px;
    }
  }
}

@include respond-below(xs) {
  .app-layout {
    max-width: 98%;
    .main-wrapper-layout {
      padding-top: 12px;
    }
  }
}

@include respond-above(x1300) {
  .app-layout {
    max-width: 1300px;
  }
}

@keyframes loop {
  0% {
    width: 0%;
    transform: translateX(0%);
  }
  7% {
    width: 10%;
    transform: translateX(0%);
  }
  40% {
    width: 60%;
  }
  50% {
    transform: translateX(85%);
  }

  75% {
    width: 100%;
  }
  100% {
    transform: translateX(100%);
  }
}

.global-loading-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  overflow: hidden;
}

.loader-line {
  position: fixed;
  height: 5px;
  background: linear-gradient(90deg, $primary-color, $contrast-color);
  opacity: 0.5;
  will-change: transform, width;
  animation: 1.7s infinite loop linear;
}

* {
  outline: none;
}
