a.phone-wrapper {
  line-height: 20px;
  .anticon {
    margin-right: 8px;
    font-size: 16px;
  }
}

a.show-text {
  margin-left: 3px;
  &.show-text:hover {
    text-decoration: underline;
  }
}
.blur {
  filter: blur(3px);
}
