<nz-card class="padding-12">
  <h2 style="text-align: center; margin: 0;">
    {{price | number}} лв.
    <!-- small-view-only more-btn -->
    <i nz-icon type="down-circle" [class.rotated]="exposePriceDetails" (click)="toggleExposePriceDetails()"
      *ngIf="showPriceDetails && small" class="more-info-btn"></i>
  </h2>
  <!-- small-view -->
  <div *ngIf="showPriceDetails && small" class="small-view" [class.hidden]="!exposePriceDetails">
    <app-label-value-row *ngFor="let row of price_details" [label]="row.label" [value]="row.value">
    </app-label-value-row>
  </div>
  <!-- default-view -->
  <nz-divider class="margin-5" *ngIf="showPriceDetails && !small"></nz-divider>
  <nz-collapse [nzBordered]="false" *ngIf="showPriceDetails && !small">
    <nz-collapse-panel class="no-paddings" nzHeader="Повече информация">
      <app-label-value-row *ngFor="let row of price_details" [label]="row.label" [value]="row.value">
      </app-label-value-row>
    </nz-collapse-panel>
  </nz-collapse>
</nz-card>
