<nz-select style="width: 100%;" nzMode="default" [nzPlaceHolder]="nullLocation.name"
  nzAllowClear nzShowSearch [nzServerSearch]="true" (nzOnSearch)="search($event)"
  (nzScrollToBottom)="loadMoreLocations()" [nzMenuItemSelectedIcon]="isFormItem ? null : icon" [nzSuffixIcon]="isFormItem ? null : icon"
  [nzSize]="size"
  [ngModel]="selectedLocation"
  (ngModelChange)="locationChanged($event)">
  <nz-option [nzLabel]="getLabel(selectedLocation)" [nzValue]="selectedLocation" *ngIf="selectedLocation" nzCustomContent>
    <span>{{getLabel(selectedLocation)}}</span>
  </nz-option>
  <nz-option [nzLabel]="getLabel(nullLocation)" [nzValue]="nullLocation" *ngIf="!isFormItem && selectedLocation != this.nullLocation" nzCustomContent>
    <span>{{getLabel(nullLocation)}}</span>
  </nz-option>


  <ng-container *ngFor="let location of locations?.results; trackBy:trackIdentifyByItemId">
    <nz-option [nzLabel]="getLabel(location)" [nzValue]="location" nzCustomContent *ngIf="!selectedLocation || location.id != selectedLocation.id">
      <span>{{getLabel(location)}}</span>
    </nz-option>
  </ng-container>
  <nz-option *ngIf="isLoading" nzDisabled nzCustomContent>
    <i nz-icon type="loading" class="loading-icon"></i> Зареждане на резултати...
  </nz-option>
</nz-select>
<ng-template #icon>
  <i nz-icon nzType="home"></i>
</ng-template>
