<!-- <h3 *ngIf="loading || paginatedServices?.results.length > 0" i18n="@@promotedServicesCardTitle">Promoted</h3> -->
<nz-card *ngIf="loading || paginatedServices?.results.length > 0" [nzLoading]="loading">
  <nz-list [nzDataSource]="paginatedServices ? paginatedServices.results ? paginatedServices.results : [] : []"
    [nzItemLayout]="'horizontal'" [nzLoading]="loading" [nzRenderItem]="serviceItemTemplate">
  </nz-list>
</nz-card>

<ng-template #serviceItemTemplate let-servicePromotion>
  <app-services-list-item promoted="true" modelName="services" [item]="servicePromotion.service"></app-services-list-item>
</ng-template>
