<nz-page-header>
  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item>Profiles</nz-breadcrumb-item>
    <nz-breadcrumb-item></nz-breadcrumb-item>
  </nz-breadcrumb>
  <nz-page-header-content>
    <nz-list [nzDataSource]="paginatedUsers ? paginatedUsers?.results : []" [nzItemLayout]="'horizontal'"
      [nzRenderItem]="user" [nzPagination]="pagination" [nzFooter]="footer">
      <ng-template #user let-user>
        <nz-list-item [nzContent]="user.bio?.slice(0, 50) + '...' || 'Super doper bio'" [nzActions]="[starAction, likeAction, msgAction]">
          <ng-template #starAction>
            <span nz-tooltip nzTitle="Services" [routerLink]="['/profiles', user.id, 'services']">
              <i nz-icon type="tool" style="margin-right: 8px;"></i>{{user.services_count}}
            </span>
          </ng-template>
          <ng-template #likeAction>
            <span nz-tooltip nzTitle="Posts" [routerLink]="['/profiles', user.id, 'posts']">
              <i nz-icon type="align-left" style="margin-right: 8px;"></i>{{user.posts_count}}
            </span>
          </ng-template>
          <ng-template #msgAction><i nz-icon type="message" style="margin-right: 8px;"></i> 2</ng-template>
          <nz-list-item-meta
            [nzAvatar]="user?.image ? user.image : 'assets/images/undraw_user.svg'"
            [nzTitle]="nzTitle">
            <ng-template #nzTitle>
              <a [routerLink]="['/profiles', user.id]">{{ user.first_name + ' ' + user.last_name }}</a>
              <nz-badge style="margin-left: 5px;" [nzStatus]="user.is_online ? 'success' : 'default'"></nz-badge>
            </ng-template>
          </nz-list-item-meta>
          <ng-template #extra>
            <!-- haha -->
            <!-- <img width="272" alt="logo" src="https://gw.alipayobjects.com/zos/rmsportal/mqaQswcyDLcXyDKnZfES.png" /> -->
          </ng-template>
        </nz-list-item>
      </ng-template>
      <ng-template #footer>
        <!-- <div><b>ant design</b> footer part</div> -->
      </ng-template>
      <ng-template #pagination>
        <nz-pagination [nzPageIndex]="page" [nzPageSize]="pageSize" [nzTotal]="paginatedUsers?.count || 1"
          (nzPageIndexChange)="loadData($event)"></nz-pagination>
      </ng-template>
    </nz-list>
  </nz-page-header-content>
</nz-page-header>
