<nz-select style="width: 100%;" nzMode="default" [ngModel]="selectedLocationString" nzPlaceHolder="Select Location"
  nzAllowClear nzShowSearch (ngModelChange)="null" [nzServerSearch]="true" (nzOnSearch)="search($event)"
  (nzScrollToBottom)="loadMoreLocations()">
  <ng-container *ngFor="let location of locations; trackBy:trackIdentifyByItemId">
    <nz-option [nzLabel]="location.address + (location.code !== 'ADM1' ? ' (' + location.state + ')' : '')" [nzValue]="location.geonames_id" nzCustomContent>
      <span>{{location.address}}<span style="opacity: .5; margin-left: 5px;" *ngIf="location.code !== 'ADM1'">{{location.state}}</span></span>
    </nz-option>
  </ng-container>
  <nz-option *ngIf="isLoading" nzDisabled nzCustomContent>
    <i nz-icon type="loading" class="loading-icon"></i> Loading Data...
  </nz-option>
</nz-select>
