<nz-select style="width: 100%;" nzMode="default" [ngModel]="selectedLocationString" nzPlaceHolder="Избери населено място"
  nzAllowClear nzShowSearch [nzServerSearch]="true" (nzOnSearch)="search($event)"
  (nzScrollToBottom)="loadMoreLocations()" [nzMenuItemSelectedIcon]="icon" [nzSuffixIcon]="icon"
  [nzSize]="size"
  (ngModelChange)="locationChanged($event)">
  <nz-option nzLabel="Цялата страна" [nzValue]="'null'" *ngIf="locations?.results.length !== 0" nzCustomContent>
    <span>Цялата страна</span>
  </nz-option>

  <ng-container *ngFor="let location of locations?.results; trackBy:trackIdentifyByItemId">
    <nz-option [nzLabel]="getLabel(location)" [nzValue]="location" nzCustomContent>
      <span>{{getLabel(location)}}</span>
    </nz-option>
  </ng-container>
  <nz-option *ngIf="isLoading" nzDisabled nzCustomContent>
    <i nz-icon type="loading" class="loading-icon"></i> Зареждане на резултати...
  </nz-option>
</nz-select>
<ng-template #icon>
  <i nz-icon nzType="home"></i>
</ng-template>
