<div nz-row nzType="flex" nzJustify="space-around" class="share-widget">
  <button nz-button (click)="share('facebook')"><i nz-icon nzType="ng-vlicon:facebook"></i><span
      i18n="@@shareBtnText">Share</span></button>
  <button nz-button (click)="share('twitter')"><i nz-icon nzType="twitter" style="color: #1da1f2;"></i><span
      i18n="@@tweetBtnText">Tweet</span></button>
  <button nz-button (click)="copy()"><i nz-icon nzType="copy"></i><span i18n="@@copyBtnText">Copy</span></button>
</div>
