<nz-select
  style="width: 100%;"
  nzMode="tags"
  i18n-nzPlaceHolder="Select tags text|Asking user to select tags@@selectTagsText"
  nzPlaceHolder="Select tags"
  nzAllowClear
  nzShowSearch
  (nzOnSearch)="onSearch($event)"
  (nzScrollToBottom)="loadMoreTags()"
  [(ngModel)]="selectedTags"
  [nzMaxMultipleCount]="maxTagCount"
  >
  <ng-container *ngFor="let tag of tags?.results; trackBy: trackByName">
    <nz-option *ngIf="!isSelected(tag.name)" [nzValue]="tag.name" [nzLabel]="tag.name"></nz-option>
  </ng-container>

  <nz-option *ngIf="isLoading" nzDisabled nzCustomContent>
    <i nz-icon type="loading" class="loading-icon"></i> <span i18n="@@loadingText">Loading Data...</span>
  </nz-option>
</nz-select>
