<div nz-tooltip nzPlacement="topCenter" [nzTitle]="userService.currentUser && (userService.currentUserObs | async)?.id === user.id ? 'Change Avatar' : ''">
  <nz-upload class="avatar-uploader" [nzCustomRequest]="uploadAvatar" nzName="avatar" nzListType="picture-card"
    [nzShowUploadList]="false" [nzBeforeUpload]="beforeUpload" (nzChange)="handleChange($event)"
    [nzDisabled]="!userService.currentUser || (userService.currentUserObs | async)?.id !== user.id"
    [class.no-hover]="!userService.currentUser || (userService.currentUserObs | async)?.id !== user.id">
    <!-- <div class="avatar"> -->
      <img class="avatar" [ngStyle]="getAvatarStyles()" />
    <!-- </div> -->
  </nz-upload>
  <i class="upload-icon" *ngIf="loading" nz-icon nzType="loading"></i>
</div>
