@import "~src/variables";

.author-card {
  padding: 32px 16px;
  border: 2px solid $light-border-color;

  text-align: center;

  .author-name {
    margin-top: 1em;
    h2::after {
      content: "";
      display: block;
      width: 0;
      height: 2px;
      background: $grey-color;
      transition: width 0.3s;
    }

    h2:hover::after {
      width: 100%;
    }
  }
  .author-role {
    font-weight: 700;
    color: $grey-color;
  }

  .author-statistics {
    text-align: start;
  }

  .author-row {
    p,
    a {
      color: $main-text-color;
      margin-bottom: 0.5em;
    }
    a:hover {
      color: $primary-color;
    }
    .label {
    }
    .value {
      font-weight: bold;
    }
  }

  .author-contacts {
    text-align: start;
  }
}
