<form nz-form [formGroup]="serviceForm" (ngSubmit)="null" onkeypress="return event.keyCode != 13;">
  <div nz-row nzType="flex" nzJustify="space-between" nzAlign="stretch" nzGutter="32">
    <div nz-col nzXs="24" nzXl="16">
      <div nz-row nzType="flex" nzJustify="space-between" nzGutter="8">
        <div nz-col nzSpan="16">
          <nz-form-item>
            <nz-form-label nzFor="title">Заглавие на обявата</nz-form-label>
            <nz-form-control [nzSm]="24" [nzXs]="24" nzHasFeedback>
              <nz-input-group [nzPrefix]="prefixTitle">
                <input type="text" nz-input formControlName="title" placeholder="Заглавие на обявата" />
              </nz-input-group>
              <nz-form-explain *ngIf="dirtyOrHasErrors('title')">
                <ng-container *ngIf="serviceForm.get('title')?.hasError('minlength')">
                  Title is too short
                </ng-container>
                <ng-container *ngIf="serviceForm.get('title')?.hasError('maxlength')">
                  Title is too long
                </ng-container>
                <ng-container *ngIf="serviceForm.get('title')?.hasError('required')">
                  Please input valid title
                </ng-container>
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="8">
          <nz-form-item>
            <nz-form-label nzFor="price">Цена</nz-form-label>
            <nz-form-control [nzSm]="24" [nzXs]="24" nzHasFeedback>
              <!-- <nz-input-group [nzAddOnAfter]="addOnAfterTemplate" nzCompact>
                <nz-input-number style="width: 70%"></nz-input-number>
                <nz-select style="width: 30%">
                  <nz-option>BGN</nz-option>
                </nz-select>
              </nz-input-group>
              <ng-template #addOnAfterTemplate>
                <span>BGN</span>
              </ng-template> -->

              <nz-input-group nzCompact>
                <nz-input-number style="width: 80%" formControlName="price" [nzMin]="0" [nzStep]="10"></nz-input-number>
                <input type="text" style="width: 20%" nz-input disabled value="лв." />
              </nz-input-group>
              <nz-form-explain *ngIf="dirtyOrHasErrors('price')">
                <ng-container *ngIf="serviceForm.get('price')?.hasError('min')">
                  Title is too short
                </ng-container>
                <ng-container *ngIf="serviceForm.get('price')?.hasError('max')">
                  Title is too long
                </ng-container>
                <ng-container *ngIf="serviceForm.get('price')?.hasError('required')">
                  Please input valid title
                </ng-container>
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div nz-row nzType="flex" nzJustify="space-between" nzGutter="8">
        <!-- Category -->
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label nzFor="category">Категория</nz-form-label>
            <nz-form-control [nzSm]="24" [nzXs]="24" [nzValidateStatus]="getFieldValidateStatus('category')"
              nzHasFeedback>
              <nz-input-group [nzPrefix]="prefixTitle">
                <app-category-selector [isFormItem]="true" (onChange)="onCategoryChange($event)">
                </app-category-selector>
              </nz-input-group>
              <nz-form-explain *ngIf="dirtyOrHasErrors('category')">
                <ng-container *ngIf="serviceForm.get('category')?.hasError('required')">
                  Please select valid category
                </ng-container>
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>

        <!-- Location -->
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label nzFor="location">Локация</nz-form-label>
            <nz-form-control [nzSm]="24" [nzXs]="24" [nzValidateStatus]="getFieldValidateStatus('location')"
              nzHasFeedback>
              <nz-input-group [nzPrefix]="prefixTitle">
                <app-location-search [isFormItem]="true" (onChange)="onLocationChange($event)"></app-location-search>
              </nz-input-group>
              <nz-form-explain *ngIf="dirtyOrHasErrors('location')">
                <ng-container *ngIf="serviceForm.get('location')?.hasError('required')">
                  Please select valid location
                </ng-container>
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <!-- Description -->
      <nz-form-item>
        <nz-form-label nzFor="description">Описание</nz-form-label>
        <nz-form-control [nzSm]="24" [nzXs]="24" [nzValidateStatus]="getFieldValidateStatus('description')"
          nzHasFeedback>
          <textarea formControlName="description" nz-input rows="10" placeholder="Описание"></textarea>
          <nz-form-explain *ngIf="dirtyOrHasErrors('description')">
            <ng-container *ngIf="serviceForm.get('description')?.hasError('minlength')">
              Описание is too short
            </ng-container>
            <ng-container *ngIf="serviceForm.get('description')?.hasError('maxlength')">
              Описание is too long
            </ng-container>
            <ng-container *ngIf="serviceForm.get('description')?.hasError('required')">
              Please input valid Описание
            </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <!-- Tags -->
      <nz-form-item>
        <nz-form-label nzFor="tags">Тагове</nz-form-label>
        <nz-form-control [nzSm]="24" [nzXs]="24" [nzValidateStatus]="getFieldValidateStatus('tags')" nzHasFeedback>
          <nz-input-group [nzPrefix]="prefixTitle">
            <app-tags-selector (onChange)="onTagsChange($event)"></app-tags-selector>
          </nz-input-group>
          <nz-form-explain *ngIf="dirtyOrHasErrors('tags')">
            <ng-container *ngIf="serviceForm.get('tags')?.hasError('minlength')">
              too short
            </ng-container>
            <ng-container *ngIf="serviceForm.get('tags')?.hasError('maxlength')">
              too long
            </ng-container>
            <ng-container *ngIf="serviceForm.get('tags')?.hasError('required')">
              Please input valid tags
            </ng-container>
          </nz-form-explain>

        </nz-form-control>
      </nz-form-item>


      <!-- Images -->
      <nz-form-item>
        <nz-form-label nzFor="images">Снимки</nz-form-label>
        <nz-form-control [nzSm]="24" [nzXs]="24" [nzValidateStatus]="getFieldValidateStatus('images')"
          nzHasFeedback="false">
          <app-images-selector [maxItemsLength]="maxImagesLength" (onChange)="onImagesChange($event)">
          </app-images-selector>
          <nz-form-explain *ngIf="dirtyOrHasErrors('images')">
            <ng-container *ngIf="serviceForm.get('images')?.hasError('minlength')">
              too short
            </ng-container>
            <ng-container *ngIf="serviceForm.get('images')?.hasError('maxlength')">
              too long
            </ng-container>
            <ng-container *ngIf="serviceForm.get('images')?.hasError('required')">
              Please input valid IMAGES
            </ng-container>
          </nz-form-explain>

        </nz-form-control>
      </nz-form-item>



      <!-- submit (moved to right column.) -->

      <!-- <nz-form-item nz-row style="margin-bottom:8px;">
        <nz-form-control>
          <button (click)="onFormSubmit()" nz-button nzType="primary">Добави</button>
        </nz-form-control>
      </nz-form-item> -->

    </div>
    <nz-divider class="hide-above-mobile margin-5"></nz-divider>
    <div nz-col nzXs="24" nzXl="8" class="optional-form-segment">
      <div>
        <nz-form-item>
          <nz-form-label nzFor="contact_phone">Телефон</nz-form-label>
          <nz-form-control [nzSm]="24" [nzXs]="24" nzHasFeedback>
            <nz-input-group [nzPrefix]="prefixTitle">
              <input type="text" nz-input formControlName="contact_phone" placeholder="Телефон за контакт" />
            </nz-input-group>
            <nz-form-explain *ngIf="dirtyOrHasErrors('contact_phone')">
              <ng-container *ngIf="serviceForm.get('contact_phone')?.hasError('minlength')">
                short
              </ng-container>
              <ng-container *ngIf="serviceForm.get('contact_phone')?.hasError('maxlength')">
                too long
              </ng-container>
              <ng-container *ngIf="serviceForm.get('contact_phone')?.hasError('required')">
                Please input valid phone
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzFor="contact_email">Email</nz-form-label>
          <nz-form-control [nzSm]="24" [nzXs]="24" nzHasFeedback>
            <nz-input-group [nzPrefix]="prefixTitle">
              <input type="text" nz-input formControlName="contact_email" placeholder="Email за контакт" />
            </nz-input-group>
            <nz-form-explain *ngIf="dirtyOrHasErrors('contact_email')">
              <ng-container *ngIf="serviceForm.get('contact_email')?.hasError('minlength')">
                Title is too short
              </ng-container>
              <ng-container *ngIf="serviceForm.get('contact_email')?.hasError('maxlength')">
                Title is too long
              </ng-container>
              <ng-container *ngIf="serviceForm.get('contact_email')?.hasError('required')">
                Please input valid title
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzFor="price_details">Фиксирани цени</nz-form-label>
          <app-json-label-value-editor (onChange)="onPriceDetailChange($event)" #jsonEditor>
          </app-json-label-value-editor>
        </nz-form-item>
      </div>

      <!-- submit -->

      <nz-form-item nz-row>
        <nz-form-control>
          <button (click)="onFormSubmit(jsonEditor)" style="width: 100%;" nz-button nzType="primary">Добави</button>
        </nz-form-control>
        <small style="opacity: .7;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat esse voluptatem
          iusto. Nisi doloremque!</small>
      </nz-form-item>
    </div>
  </div>
</form>

<ng-template #prefixTitle>
  <i nz-icon type="font-size"></i>
</ng-template>



<!--
<nz-form-control nzHasFeedback>
    <nz-input-group [nzPrefix]="prefixUser">
      <input nz-input formControlName="first_name" placeholder="First Name" type="text" />
    </nz-input-group>
    <nz-form-explain *ngIf="validateForm.get('first_name')?.dirty && validateForm.get('first_name')?.errors">
      <ng-container *ngIf="validateForm.get('first_name')?.hasError('minlength')">
        First name is too short
      </ng-container>
      <ng-container *ngIf="validateForm.get('first_name')?.hasError('maxlength')">
        First name is too long
      </ng-container>
      <ng-container *ngIf="validateForm.get('first_name')?.hasError('required')">
        Please input your first name
      </ng-container>
    </nz-form-explain>
  </nz-form-control> -->
