<nz-list [nzDataSource]="paginatedServices ? paginatedServices.results ? paginatedServices.results : [] : []"
  [nzItemLayout]="'horizontal'" [nzLoading]="loading" [nzRenderItem]="serviceItemTemplate" [nzFooter]="footer">
</nz-list>

<ng-template #footer>
  <nz-row style="text-align: center;">
    <a (click)="navigateToAllSimilarServices()">Виж всички подобни сървиси</a>
  </nz-row>
</ng-template>


<ng-template #serviceItemTemplate let-serviceitem>
  <app-list-item modelName="services" [item]="serviceitem" *ngIf="service.id != serviceitem.id"></app-list-item>
</ng-template>
