@import "~src/variables";

@include respond-below(mobile) {
  .col-below-mobile {
    display: flex;
    flex-direction: column;
  }

  .ant-card-body {
    padding: 12px;
  }
  .ant-divider {
    margin: 20px 0;
  }

  .title {
    font-size: 24px;
  }
}

@include respond-above(mobile) {
}
