/* You can add global styles to this file, and also import other style files */

@import "~src/variables";
* {
  // color:$main-text-color;
  // antd-done this work for us
  // font-family: "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB",
  //   "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  //   "Segoe UI Symbol";
}

//
// GEN
//

.title {
  // font-size: 15px;
  line-height: 100%;
  color: $dark-grey-color;
  font-weight: bold;
  margin-bottom: 7px;
}

:focus {
  outline: none;
}

body {
  background: #f3f3f3;
}

.large-card-button {
  background: $contrast-color;
  opacity: 0.8;
  // margin: 0;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
  i {
    margin-right: 0.5em;
  }
  * {
    font-weight: bold;
    color: $white-color;
  }
}

// todo: rename this class
.mb-vertical-align {
  margin-bottom: $vertical-margin;
}

//
// ANT DESIGN OVERRIDE
//

.ant-menu-submenu-title .ant-avatar {
  margin-right: 5px;
  .anticon {
    margin-right: 0 !important;
  }
}

.avatar-uploader {
  &.no-hover .ant-upload:hover {
    border-color: grey;
  }
  .ant-upload {
    margin: auto;
    padding: 0px !important;
    border-radius: 50%;
    border-width: 2px;
  }
}

.ant-collapse .no-paddings {
  border-bottom: none;
  margin-bottom: 0;
  .ant-collapse-content-box {
    padding-bottom: 0;
  }
}

.ant-avatar img {
  object-fit: cover; // contain
}

.ant-card {
  border-radius: $radius !important;
  margin-bottom: $vertical-margin;
  background: $white-color;
  &.padding-top-0 {
    .ant-card-body {
      padding-top: 0;
    }
  }
  &.padding-0 {
    .ant-card-body {
      padding: 0;
    }
  }
  &.padding-12 {
    .ant-card-body {
      padding: 12px;
    }
  }
}

.ant-divider {
  &.margin-20 {
    margin: 20px 0;
  }
  &.margin-10 {
    margin: 10px 0;
  }
  &.margin-5 {
    margin: 5px 0;
  }
}

.ant-message {
  top: 24px;
  right: 24px;
  left: auto;
  width: initial;
}

.ant-form-item-label {
  line-height: initial;
  text-transform: uppercase;
  label {
    color: $grey-color;
    font-weight: bolder;
    font-size: 10px;
  }
}

.stretch-list-item.ant-list-item,
.stretch-list-item {
  align-items: stretch;

  .ant-list-item-meta {
    align-content: stretch;
    align-items: stretch;
    .ant-list-item-meta-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: stretch;
    }
  }

  .ant-list-item-action {
    &,
    & > li {
      align-self: stretch;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
    }

    & > li {
      height: 100%;
    }
  }
}
.ant-upload-list {
  :first-child.ant-upload-list-item {
    border: 3px solid $primary-color;
  }
}
// fix prefix icon on nz-select
.ant-input-affix-wrapper {
  .ant-select-selection__rendered {
    margin-left: 32px;
  }
}

.ant-carousel .slick-slider {
  max-height: 100%;
}

.ant-divider-inner-text .title {
  margin: 0;
}

.ant-input:focus {
  outline: none;
  box-shadow: none;
}
