/* You can add global styles to this file, and also import other style files */

@import "~src/variables";
@import "quill/dist/quill.core.css";
@import "quill/dist/quill.bubble.css";
@import "quill/dist/quill.snow.css";
//
// ANT DESIGN OVERRIDE
//

.ant-menu-submenu-title .ant-avatar {
  margin-right: 5px;
  .anticon {
    margin-right: 0 !important;
  }
}

.ant-menu-item .anticon,
.ant-menu-submenu-title .anticon {
  margin-right: 0;
}

@include respond-below(mobile) {
  .feedback-widget-button-container {
    bottom: 64px !important;
    right: 20px !important;
  }
  .ant-back-top {
    bottom: 110px;
  }
}

.ant-notification.ant-notification-topRight {
  top: 70px !important;
}

.ant-tag {
  padding: 2px 7px;
  margin-bottom: 8px;
}

a > .ant-tag {
  cursor: pointer;
}

.ant-input-group.ant-input-group-compact > *{
  height: 42px;
}

.ant-select-selection--multiple .ant-select-selection__placeholder {
  margin-left: 0;
}
// fix prefix icon on nz-select
.ant-input-affix-wrapper {
  .ant-select-selection__rendered {
    margin-left: 32px;
  }
}

.ant-select-dropdown.mobile-dropdown,
.mobile-dropdown {
  position: fixed;
  width: 90vw;
  left: 5vw;
  top: 140px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 5px 40px;

  * {
    &::-webkit-scrollbar-track {
      border-radius: $radius;
      background-color: $light-grey-color;
    }

    &::-webkit-scrollbar {
      // position: fixed;
      width: 7px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: $radius;
      background-color: $grey-color;
    }
  }
}

.ant-drawer-wrapper-body {
  overflow-x: hidden !important;
  position: relative;
}

.avatar-uploader {
  &.no-hover .ant-upload:hover {
    border-color: grey;
  }
  .ant-upload {
    margin: auto;
    padding: 0px !important;
    border-radius: 50%;
    border-width: 2px;
  }
}

.ant-collapse .no-paddings {
  border-bottom: none;
  margin-bottom: 0;
  .ant-collapse-content-box {
    padding-bottom: 0;
  }
}

.ant-avatar img {
  object-fit: cover; // contain
}

.ant-card {
  border-radius: $radius !important;
  margin-bottom: $vertical-margin;
  background: $white-color;
  &.padding-top-0 {
    .ant-card-body {
      padding-top: 0;
    }
  }
  &.padding-0 {
    .ant-card-body {
      padding: 0;
    }
  }
  &.padding-12 {
    .ant-card-body {
      padding: 12px;
    }
  }
}

.ant-divider {
  &.margin-20 {
    margin: 20px 0;
  }
  &.margin-10 {
    margin: 10px 0;
  }
  &.margin-5 {
    margin: 5px 0;
  }
}

.ant-message {
  // top: 24px;
  // right: 24px;
  // left: auto;
  // width: initial;
}

.ant-form-item-label {
  line-height: initial;
  text-transform: uppercase;
  label {
    color: $grey-color;
    font-weight: bolder;
    font-size: 10px;
  }
}

.stretch-list-item.ant-list-item,
.stretch-list-item {
  align-items: stretch;

  .ant-list-item-meta {
    align-content: stretch;
    align-items: stretch;
    .ant-list-item-meta-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: stretch;
    }
  }

  .ant-list-item-action {
    &,
    & > li {
      align-self: stretch;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
    }

    & > li {
      height: 100%;
    }
  }
}

.ant-upload-list {
  :first-child.ant-upload-list-item {
    border: 3px solid $primary-color;
  }
}

.ant-carousel .slick-slider {
  max-height: 100%;
}

.ant-divider-inner-text .title {
  margin: 0;
}

.ant-input:focus {
  outline: none;
  box-shadow: none;
}

//
// GEN
//

// @font-face {
//   font-family: 'emoji';
//   src: url('assets/NotoColorEmoji.ttf') format('truetype');
// }

// @font-face {
//   font-family: 'helvetica-light';
//   src: url('assets/helvetica-light.ttf') format('truetype');
// }

// * {
//   // color:$main-text-color;
//   // antd-done this work for us
//   font-family:
//     // "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB",
//     // "Microsoft YaHei", "Helvetica Neue",
//     'helvetica-light', Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
//     "Segoe UI Symbol", 'emoji';
// }

.title {
  // font-size: 15px;
  line-height: 100%;
  color: $dark-grey-color;
  font-weight: bold;
  margin-bottom: 0;
  &.small {
    font-weight: normal;
    font-size: 20px;
  }
}

.error-text {
  color: $red-color;
}

:focus {
  outline: none;
}

body {
  background: $back-color;
}

.grey-color {
  color: $grey-color;
}

.large-card-button {
  &.primary {
    background: $contrast-color;
  }
  background: $blue-color;
  opacity: 0.8;
  // margin: 0;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
  i {
    margin-right: 0.5em;
  }
  * {
    font-weight: bold;
    color: $white-color;
  }
}

// todo: rename this class
.mb-vertical-align {
  margin-bottom: $vertical-margin;
}

nz-upload.small {
  .ant-upload-list-picture-card .ant-upload-list-item,
  .ant-upload-select-picture-card {
    height: 64px;
    width: 64px;
    padding: 2px;
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.happy-popover {
  .ant-popover-inner {
    // box-shadow: 0 2px 30px rgb(232, 200, 227);
  }

  animation: shake 0.9s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
}

@import "~src/mediaqueries";
