/* You can add global styles to this file, and also import other style files */

$main-text-color: #5d6577;

$primary-color: #639bd3;

$grey-color: rgb(166, 173, 184);
$light-grey-color: rgb(235, 237, 240);
$dark-grey-color: #506172;

$light-border-color: $light-grey-color;

$white-color: #fff;
