/* You can add global styles to this file, and also import other style files */

$breakpoints: (
  xs: 576px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  x1300: 1300px,
  x1400: 1400px,
  xxl: 1600px,
  mobile: 1200px
);


$blue-color: #6772e5;
$green-color: #24b47e;


$main-text-color: #5d6577;

$primary-color: #639bd3;

$contrast-color: #ea532a; // TODO

$grey-color: rgb(166, 173, 184);
$light-grey-color: rgb(235, 237, 240);
$dark-grey-color: #506172;

$light-border-color: $light-grey-color;

$white-color: #fff;

$back-color: #f3f3f3;
$dark-back-color: #f9f9f9;

$vertical-margin: 24px;

$radius: 5px;
// $horizontal-margin: 24px; // Use nzGutter

@mixin respond-above($breakpoint) {
  // If the breakpoint exists in the map.
  @if map-has-key($breakpoints, $breakpoint) {
    // Get the breakpoint value.
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    // Write the media query.
    @media (min-width: $breakpoint-value) {
      @content;
    }

    // If the breakpoint doesn't exist in the map.
  } @else {
    // Log a warning.
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

@mixin respond-below($breakpoint) {
  // If the breakpoint exists in the map.
  @if map-has-key($breakpoints, $breakpoint) {
    // Get the breakpoint value.
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    // Write the media query.
    @media (max-width: $breakpoint-value) {
      @content;
    }

    // If the breakpoint doesn't exist in the map.
  } @else {
    // Log a warning.
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}


@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  70% {
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
