<nz-card>
  <div class="services-search-wrapper" nz-row nzJustify="space-between" nzType="flex">
    <div nz-col [nzSpan]="24">
      <form nz-form [nzLayout]="'inline'" (ngSubmit)="search()">
        <div nz-row nzType="flex" nzGutter="8" nzJustify="space-between">
          <div nz-col [nzSpan]="12">
            <nz-form-control style="width: 100%">
              <nz-input-group [nzSize]="'large'" [nzPrefix]="searchIcon">
                <input type="text" name="query" nz-input [(ngModel)]="query" i18n-placeholder="@@searchPlaceholder" placeholder="Search" />
              </nz-input-group>
              <ng-template #searchIcon>
                <!-- todo search -->
                <i nz-icon nzType="rocket"></i>
              </ng-template>
            </nz-form-control>
          </div>
          <div nz-col [nzSpan]="8">
            <nz-form-control style="width: 100%">
              <app-location-search size="large"></app-location-search>
            </nz-form-control>
          </div>
          <div nz-col [nzSpan]="4">
            <nz-form-control style="width: 100%">
              <button style="width: 100%;" nz-button [nzSize]="'large'" nzType="primary"><i nz-icon
                  nzType="search"></i><span *ngIf="!tds.isMobile" i18n>Search</span></button>
            </nz-form-control>
          </div>
        </div>
      </form>
    </div>
  </div>
</nz-card>
