@import "~src/variables";

.messages-wrapper {
  height: calc(100vh - 100px);
  .messages-list-container,
  .messages-detail-container {
    height: 100%;
    overflow: hidden;
  }
  .messages-list-container {
    border-right: 1px solid $light-border-color;
  }
}

.current-user-info {
  padding: 8px 16px;

  .user-logo {
    margin-right: 0.5em;
  }
}

.hidden {
  display: none;
}
