<nz-card  class="messages-card padding-0">
  <div #messagesWrapper class="messages-wrapper" nz-row nzType="flex" [ngStyle]="height ? {'height': height + 'px'} : {}" nzJustify="start"
    style="align-content: stretch;align-items: stretch;">
    <!-- list -->
    <div nz-col nzXs="24" nzXl="6" class="messages-list-container" *ngIf="!conversation || !tds.isMobile">
      <div nz-row nzType="flex" nzAlign="middle" class="current-user-info">
        <div nz-col>
          <nz-avatar class="user-logo" [nzSize]="50" nzIcon="user" [nzSrc]="(userService.currentUserObs | async)?.image || 'assets/images/undraw_user.svg'">
          </nz-avatar>
        </div>
        <div nz-col>
          <h2 class="title" i18n="Title tells user that this is messages section of website@@messagesTitleText">Messages</h2>
        </div>
      </div>
      <app-messages-list></app-messages-list>
    </div>
    <!--detail -->
    <div nz-col nzXs="24" nzXl="18" class="messages-detail-container" [class.hidden]="tds.isMobile && !conversation">
      <router-outlet></router-outlet>
    </div>
  </div>
</nz-card>
