<!-- msgs!!
<br/>
<h1>
  Angular 2 WebSockets Tutorial
</h1>
-->
<button (click)="sendMsg()">Send Message</button>

<nz-card class="messages-card padding-0">
  <div class="messages-wrapper" nz-row nzType="flex" nzJustify="start"
    style="align-content: stretch;align-items: stretch;">
    <!-- list -->
    <div nz-col nzSpan="6" class="messages-list-container">
      <div nz-row nzType="flex" nzAlign="middle" class="current-user-info">
        <div nz-col>
          <nz-avatar class="user-logo" [nzSize]="50" nzIcon="user" [nzSrc]="userService.currentUser.image">
          </nz-avatar>
        </div>
        <div nz-col>
          <h2 class="title">Съобщения</h2>
        </div>
      </div>
      <app-messages-list></app-messages-list>
    </div>
    <!--detail -->
    <div nz-col nzSpan="18" class="messages-detail-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</nz-card>
