<nz-page-header *ngIf="user" [nzTitle]="null">
  <nz-page-header-content>
    <div nz-row nzType="flex" nzJustify="space-between">
      <div nz-col nzXs="24" nzSm="16" class="left-column">
        <labeled-text [editable]="this.user.id === this.userService?.currentUser?.id" #bioLabeledText maxLength="500"
          minLength="3" (onChange)="onUserChange(bioLabeledText, {bio: $event})" i18n-label="@@userbioLabel" label="User bio"
          [text]="user.bio || 'Empty'">
        </labeled-text>
        <labeled-text *ngIf="this.user.id === this.userService?.currentUser?.id" [editable]="true" #emailLabeledText
          (onChange)="onUserChange(emailLabeledText, {email: $event})" i18n-label="@@emailLabel" label="Email"
          [text]="this.user.email || 'No email'">
        </labeled-text>
        <div class="profile-links">
          <app-email-wrapper *ngIf="user.email && user.id == (userService.currentUserObs | async)?.id"
            [email]="user.email">
          </app-email-wrapper>
          <app-phone-wrapper *ngIf="user.phone" [phone]="user.phone"></app-phone-wrapper>
          <a *ngIf="user.id != (userService.currentUserObs | async)?.id"
            [routerLink]="['/', 'messages', 'user', user.id]">
            <i nz-icon nzType="message"></i>Message
          </a>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="6" class="right-column">
        <app-profile-avatar-uploader [user]="user"></app-profile-avatar-uploader>
        <labeled-text class="username-labeled-text" [editable]="user.id === userService?.currentUser?.id"
          #userNameLabeledText maxLength="100" minLength="3"
          (onChange)="onUserChange(userNameLabeledText, {first_name: $event.substr(0, $event.indexOf(' ')), last_name: $event.substr($event.indexOf(' ')+1)})"
          i18n-label="@@profileDetailUsernameLabel" label="Username" [text]="getUsername()"></labeled-text>
      </div>
    </div>
  </nz-page-header-content>
  <nz-page-header-footer style="padding-top: 0">
    <nz-tabset [nzSelectedIndex]="selectedTabsIndex">
      <nz-tab (nzClick)="changeTab('feed')" i18n-nzTitle="@@feedTab" nzTitle="Feed"></nz-tab>
      <nz-tab (nzClick)="changeTab('services')" i18n-nzTitle="@@servicesTab" nzTitle="Services"></nz-tab>
      <nz-tab (nzClick)="changeTab('seeks')" i18n-nzTitle="@@seeksTab" nzTitle="Seeks"></nz-tab>
      <!-- <nz-tab (nzClick)="changeTab('offers')" i18n-nzTitle="@@offersTab" nzTitle="Offers"></nz-tab>
      <nz-tab (nzClick)="changeTab('reviews')" i18n-nzTitle="@@reviewsTab" nzTitle="Reviews"></nz-tab> -->
    </nz-tabset>
  </nz-page-header-footer>
</nz-page-header>

<div class="profile-tabs-card">
  <router-outlet></router-outlet>
  <!-- <app-feed *ngIf="tab === 'feed'"></app-feed>
  <app-services-list *ngIf="tab === 'services'"></app-services-list> -->
</div>
