@import "~src/variables";

:host nz-page-header {
  border: 1px solid rgb(235, 237, 240);
  background: $white-color;
  padding-bottom: 0;
}

.profile-links {
  padding-top: 16px;
  > * {
    $margin-between: 32px;
    margin-right: $margin-between / 2;
    &:not(:first-child) {
      padding-left: $margin-between / 2;
      border-left: 1px solid #ebedf0;
    }
    i {
      margin-right: 5px;
    }
  }
}

.left-column {
}
.right-column {
  text-align: center;
}

.profile-tabs-card {
  margin-top: 1em;
}

::ng-deep .ant-page-header-title-view {
  display: none;
}

.username-labeled-text {
  &::ng-deep {
    .labeled-text {
      margin-top: 10px;
    }
    .labeled-text-text {
      font-size: large;
      font-weight: bold !important;
    }
  }
}

::ng-deep {
  .ant-page-header-content-view {
    margin-top: 0;
    padding-top: 0;
  }
}

.mb-0 {
  margin-bottom: 0;
}

@include respond-below(md) {
  .right-column {
    text-align: center;
    order: 1;
  }
  .left-column {
    text-align: center;
    order: 2;
  }
  .ant-page-header-content-view {
    margin-bottom: 20px;
  }
}

@include respond-above(mobile) {
}
