<nz-page-header *ngIf="user" [nzTitle]="null">
  <nz-breadcrumb nz-page-header-breadcrumb class="mb-0">
    <nz-breadcrumb-item [routerLink]="['../']"><a>Profiles</a></nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <span style="margin-right: 5px;">{{getUsername()}}</span>
      <a [routerLink]="['/', 'verify-email']"
        *ngIf="userService.currentUser?.is_verified_email else notVerifiedTemplate" nz-icon [nzType]="'check-circle'"
        [nzTheme]="'twotone'" [nzTwotoneColor]="'#52c41a'" style="font-size: 16px;" nz-tooltip nzTitle="Verified"></a>
      <ng-template #notVerifiedTemplate>
        <a [routerLink]="['/', 'verify-email']" nz-icon [nzType]="'close-circle'" [nzTheme]="'twotone'"
          [nzTwotoneColor]="'#eb2f96'" nz-tooltip nzTitle="Not Verified" style="font-size: 16px;"></a>
      </ng-template>
    </nz-breadcrumb-item>
  </nz-breadcrumb>
  <nz-page-header-content>
    <div class="wrap">
      <div class="content">
        <div class="content">

          <labeled-text class="username-labeled-text" [editable]="this.user.id === this.userService?.currentUser?.id"
            #userNameLabeledText
            (onChange)="onUserChange(userNameLabeledText, {first_name: $event.substr(0, $event.indexOf(' ')), last_name: $event.substr($event.indexOf(' ')+1)})"
            label="Username" [text]="getUsername()"></labeled-text>
          <labeled-text [editable]="this.user.id === this.userService?.currentUser?.id" #bioLabeledText
            (onChange)="onUserChange(bioLabeledText, {bio: $event})" label="User bio" [text]="user.bio || 'Empty'">
          </labeled-text>
          <labeled-text *ngIf="this.user.id === this.userService?.currentUser?.id" [editable]="true" #emailLabeledText
            (onChange)="onUserChange(emailLabeledText, {email: $event})" label="Email"
            [text]="this.user.email || 'No email'">
          </labeled-text>
          <div class="profile-links">
            <app-email-wrapper *ngIf="user.email && user.id == (userService.currentUserObs | async)?.id"
              [email]="user.email">
            </app-email-wrapper>
            <app-phone-wrapper *ngIf="user.phone" [phone]="user.phone"></app-phone-wrapper>
            <a *ngIf="user.id != (userService.currentUserObs | async)?.id"
              [routerLink]="['/', 'messages', 'user', user.id]"><i nz-icon type="message"></i>Message</a>
          </div>
        </div>
      </div>
      <div class="extra-content">
        <app-profile-avatar-uploader [user]="user"></app-profile-avatar-uploader>
      </div>
    </div>
  </nz-page-header-content>
  <nz-page-header-footer>
    <nz-tabset [nzSelectedIndex]="selectedTabsIndex">
      <nz-tab (nzClick)="changeTab('feed')" nzTitle="Feed"></nz-tab>
      <nz-tab (nzClick)="changeTab('services')" nzTitle="Services"></nz-tab>
      <nz-tab (nzClick)="changeTab('posts')" nzTitle="Posts"></nz-tab>
      <nz-tab (nzClick)="changeTab('offers')" nzTitle="Offers"></nz-tab>
      <nz-tab (nzClick)="changeTab('reviews')" nzTitle="Reviews"></nz-tab>
    </nz-tabset>
  </nz-page-header-footer>
</nz-page-header>

<div class="profile-tabs-card">
  <router-outlet></router-outlet>
  <!-- <app-feed *ngIf="tab === 'feed'"></app-feed>
  <app-services-list *ngIf="tab === 'services'"></app-services-list> -->
</div>
