@import '~src/variables';

.labeled-text {
  margin-bottom: 1em;

  word-break: break-all;
  white-space: normal;

  > * {
    margin: 0;
    line-height: 100%;
  }

  .labeled-text-label {
    margin-bottom: 7px;
    font-size: small;
    opacity: .8;
  }

  .labeled-text-text {
    font-weight: 400;
  }
}

.edit-btn {
  margin-left: .5em;
  color: $primary-color;
  cursor: pointer;
}

.save-btn {
  cursor: pointer;
}
